/* ---------------------------------Global */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: als_sector ,Arial,sans-serif;
    scroll-behavior: smooth;
    min-width: 1000px;
}

:root {
    --main-font-color: #f2b632;
    --main-white: #fff;
    --main-font-dark-gray: #4d4d4d;
    --main-footer-bg-color: #141414;
}

section {
    padding: 6rem 0;
}

p {
    line-height: 1.5;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--main-font-dark-gray);
}

a {
    text-decoration: none;
    color: var(--main-white);
}
/* ----------------------------------Reusable classes */

.btn {
    display: inline-block;
    transition: all 300ms;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn_info {
    font-size: 1.2rem;
    padding: 0.7em 1rem 0.7rem 1rem;
    color: var(--main-font-color);
    border-bottom: 2px solid var(--main-font-color);
    margin: 2rem 0 4rem 0;
}

.btn_info:hover {
    background-color: var(--main-font-color);
    color: var(--main-white);
}

.custom_font_secondary {
    width: 90%;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.7rem;
    font-weight: 400;
}

.custom_font {
    color: var(--main-font-color);
    font-size: 6.5rem;
    font-weight: 100;
}

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.container_history {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.between_sec {
    padding: 20rem 0;
    text-align: center;
}

.between_sec_color {
    color: var(--main-white);
}

/* ----------------------------------Header */

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,.9), transparent),
                url("images/View2.jpg") bottom no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

/* ----------------------------------Header - Nav Toggle */

.menu {
    padding: 2rem 2.5rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    background-color: rgba(0,0,0,.5);
    z-index: 999;
    border-radius: 3px;
    cursor: pointer;
}

.menu .bar,
.menu .bar::before,
.menu .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 4rem;
    background-color: var(--main-white);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 650ms;
}

.menu .bar::before {
    top: -2rem;
}

.menu .bar::after {
    top: 2rem;
}

.active .bar {
    background-color: transparent;
}

.active .bar::before {
    transform: rotate(45deg);
}

.active .bar::after {
    transform: rotate(-45deg);
}

.active .bar::before,
.active .bar::after {
    top: 0;
}

/* -----------------------------Header - Nav */
#logo {
    /* display: none; */
    padding-top: 5px;
    position: absolute;
    top: 22vh;
    right: 0;
    left: 0;
    bottom: 0;
}

#logo img {
    width: 152px;
    height: 62px;
}

.nav {
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    position: relative;
}

.nav a {
    transition: all 300ms;
}

.overlay {
    background-color: rgba(0,0,0,.95);
    position: fixed;
    right: 0;
    left:0;
    top:0;
    bottom:0;
    z-index: 1;
    transition: opacity 300ms;
    transform: scale(0);
    opacity: 0;
}

.overlay.menu_open {
    transform: scale(1);
    opacity: 1;
}

nav .overlay ul {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav .overlay ul li {
    text-transform: uppercase;
}

.nav .overlay ul li a {
    display: block;
    font-size: 2rem;
    transition: all 300ms;
}

.nav .overlay ul li a:hover {
    color: var(--main-font-color);
}

.main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: var(--main-white);
    user-select: none;
}

.main_text h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 auto;
    font-size: 2.6rem;
    line-height: 1;
    position: relative;
}

.main_text h1::before,
.main_text h1::after {
    content: "";
    width: 5rem;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-color: var(--main-white);
    border-radius: 8px;
}

.main_text h1::before {
    left: -6rem;
}

.main_text h1::after {
    right: -6rem;
}

.main_text h2 {
    margin: 2rem 6rem 0 6rem;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.6px;
    line-height: 1;
}

.main_btn {
    font-size: 1.5rem;
    border: 2px solid var(--main-font-color);
    padding: 0.6rem 2.3rem 0.6rem 2.3rem;
    letter-spacing: 3px;
    margin: 0 auto;
    position: relative;
    margin-top: 3rem;
}

.main_btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.main_btn:active {
    transform: translateY(0);
    box-shadow: none;
}

/* ------------------------Section - Our Story */
.store {
    margin: auto;
    position: relative;
}

.store .slide {
    display: none;
}

.store img {
    width: 100vh;
    height: 78vh;
}

.slides img {
    vertical-align: middle;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

.prev {
    left: 0;
} 

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* ------------------------Section - Our Menu */

.image_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.image_group .picture_1,
             .picture_2 {
    width: 100%;
    height: 30rem;
}

.picture_1 {
    background: url("images/Kossovo1.jpg") center no-repeat;
    background-size: cover;
}

.picture_2 {
    background: url("images/Kossovo2.jpg") center no-repeat;
    background-size: cover;
}
/* ------------------------Section - element_1 */

.element_1 {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,.5),
                rgba(0,0,0,0.5)), url("images/View1.jpg") center no-repeat;
    background-size: cover;           
}

/* ------------------------Section - Citrus Goodness */

.citrus_goodness {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,.5),
                rgba(0,0,0,0.5)), url("images/Kossovo3.jpg") center no-repeat;
    background-size: cover;           
}

/* ------------------------Section - Contact Us */

.contact_us  {
    width: 100%;
    min-height: 9rem;
}


/* ----------------------Footer */

footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.56fr 1fr;
    text-align: center;
    background-color: var(--main-footer-bg-color);
    padding-top: 5rem;
    font-size: 1.8rem;
    color: var(--main-white);
}

footer h4 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: var(--main-white);
    font-weight: 100;
    font-family: "Bebas Neue", sans-serif;
}

footer h5 {
    width: 90%;
    margin: 0 auto;
    line-height: 1.2;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3vh;
}

footer p {
    color: #fff;
}

#map {
    grid-column: 1 / 3;
}

@media screen and (min-width: 769px) {
    header,
    .between_sec {
        background-attachment: fixed;
    }

    .menu {
        display: none;
    }

    .main_text h2 {
        margin: 2rem 10rem 0 10rem;
    }

    .nav {
        display: flex;
        padding: 2rem 10rem 0;
        justify-content: space-between;
    }

    #logo {
        /* display: block; */
        position: static;

    }

    .nav .overlay {
        position: initial;
        background: none;
        opacity: initial;
        transform: initial;
    }

    .nav .overlay ul {
        flex-direction: row;
        list-style: none;
        margin-top: 2px;
    }

    .nav .overlay ul li a {
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin-right: -1px;
        padding: 0 2rem;
    }

    .container_history {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .store img {
        height: 78vh;
        width: 100vh;
    }

    .center {
        flex: 1;
    }

    .add_flex {
        flex: 1;
    }

    .add_padding_right {
        padding-right: 5rem;
        width: 100%;
    }

    .first {
        order: 2;
    }

    .second {
        order: 1;
    }

    .btn_info {
        font-size: 1.8rem;
    }

    .main_text h1 {
        opacity: 0;
        animation: fadeUp .5s forwards;
    }

    .main_text h2 {
        opacity: 0;
        animation: .5s fadeIn .5s forwards;
    }

    .main_text .main_btn {
        opacity: 0;
        animation: .5s fade 1s forwards;
    }

    @keyframes fadeIn {
        0% {
            transform: translateY(-4rem);
        }
        
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes fadeUp {
        0% {
            transform: translateY(4rem);
        }
        
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes fade {
        0% {
            opacity: 0;
        }
        
        100% {
            opacity: 1;
        }
    }

    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.1fr 2fr;
    }

    #map {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
}
